/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.sony-logo{
    max-width: 100px;
}

/* jumbo returnal */
.jumbo{
    min-height: 675px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.returnal-banner{
    max-height: 50px;
}

.acquista-ora-btn{
    background-color: #cd3d0f;
    text-decoration: none;
    color: white;
}

.d{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}

.width{
    width: 90%;
}