/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

/* utils */

.big-title {
    font-size: 45px;
}

.paragraph {
    font-size: 20px;
}

.jumbo {
    min-height: 75vh;
}

.acquista-ora-btn {
    background-color: #cd3d0f;
    text-decoration: none;
    color: white;
}

.banner {
    width: 60%;
}

/* **********SECTIONS********* */

/* header */
.sony-logo {
    max-width: 100px;
}

/* jumbo game returnal */

#returnal-jumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.jumbo-content-alignment{
    justify-content: flex-end;
    gap: 30px;
}


.carousel-jumbo {
    padding: 3px;
}

.carousel-jumbo:hover,
.carousel-jumbo.active {
    border: 4px solid #0776cf;
}

/* ps5 section */

.text-blue {
    color: #2b8ad6;
    font-size: 14px;
}

.ps-last-model {
    margin-top: 100px;
}

.muted-paragraph {
    font-size: 20px;
}

.top-space {
    margin-top: 50px;
}

.ps-thumbnail {
    opacity: 0.4;
}

.ps-thumbnail:hover,
.ps-thumbnail.active {
    border-bottom: 2px solid #2b8ad6;
    opacity: 1;
}

/* banner game it takes two */
#it-takes-two-jumbotron {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

/* new games section */
.nuove-uscite {
    font-size: 30px;
}

.new-games-paragraph {
    font-size: 26px;
}

/* playstation plus section */

.ps-plus-section,
.ps-now-section {
    min-height: 40vh;
}

.ps-plus-section-bg {
    background-color: #bebcbb;
}

.btn-custom {
    background-color: #d9dadc;
    color: #3a6de5;
}

/* playstation now section */
.ps-now-section-bg {
    background-color: #161c3b;
}

/* socials section */
.socials{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 100px 0;
    
}

.social-icon{
    width: calc(100% / 2 - 30px / 2);
}

/* footer */

#page-footer{
    background-color: #00439c;
    min-height: 70vh;
}

.ps-logo-footer{
    width: 100px;
}

.l-globe{
    width: 20px;
}

.footer-link-list{
    list-style-type: none;
}

.footer-link{
    text-decoration: none;
    color: white;
}

.sie-logo{
    max-width: 135px;
}


/* *************** MEDIA QUERY************** */

@media  screen and (min-width:576px) {
    .socials{
    }
    
    .social-icon{
        width: calc(100% / 4 - 30px * 3 /4);
    }
    
}

@media screen and (min-width:992px){
    .jumbo-content-alignment{
        width: calc(100% / 3);
    }
}
