/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

/* header */
.sony-logo{
    max-width: 100px;
}

/* jumbo game returnal */
.jumbo{
    min-height: 675px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.returnal-banner{
    max-height: 50px;
}

.acquista-ora-btn{
    background-color: #cd3d0f;
    text-decoration: none;
    color: white;
}

.width{
    width: 90%;
}

.carousel-jumbo{
    width: calc(100% / 2 - 1.5rem / 2);
    padding: 3px;
}

.carousel-jumbo:hover, .carousel-jumbo.active{
    border: 4px solid #0776cf;
}

/* ps5 section */

.big-title{
    font-size: 45px;
}

.text-blue{
    color: #2b8ad6;
    font-size: 14px;
}

.ps-last-model{
    margin-top: 100px;
}

.muted-paragraph{
    font-size: 20px;
}

.top-space{
    margin-top: 50px;
}

.ps-thumbnail{
    opacity: 0.4;
}

.ps-thumbnail:hover, .ps-thumbnail.active{
    border-bottom: 2px solid #2b8ad6;
    opacity: 1;
}

/* banner game it takes two */
.banner{
    min-height: 675px;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.it-takes-two{
    width: 60%;
}

.paragraph{
    font-size: 20px;
}